﻿@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@model proyecto2_ISW711.Models.LoginModel

@{
    ViewBag.Title = "Iniciar sesión";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm" class="form-signin">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="well">
        

        <div class="form-group">
            <legend>Formulario de inicio de sesión</legend>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control",@placeholder="Usuario" })
                @Html.ValidationMessageFor(m => m.UserName)
         </div>
         <div class="form-group">
                @Html.PasswordFor(m => m.Password,new {@class="form-control", @placeholder="Contraseña" })
                @Html.ValidationMessageFor(m => m.Password)
         </div>
         <div class="form-group">
                @Html.CheckBoxFor(m => m.RememberMe)<label> Recordarme</label>
         </div>
        <div class="form-group">
        <input type="submit" value="Iniciar sesión" class="btn btn-info"/>
            </div>
    </fieldset>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



