﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model proyecto2_ISW711.Models.Blog_info

@{
    ViewBag.Title = "Index";
}

<h2>Información del Blog</h2>
<div class="row clearfix">
    <div class="col-md-6 column">
        <form action="/Blog/Edit" method="post">


            <div class="form-group">
                <label for="Autor">Autor:</label>
                @Html.TextBoxFor(model => model.Autor, new { @class = "form-control" })
                <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Autor"></span>
            </div>

            <div class="form-group">
                <label for="title">Biografía del Autor:</label>
                @Html.TextAreaFor(model => model.Biografia, new { @class = "form-control", @rows = "10" })
                <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Biografia"></span>
            </div>
            
            <div class="form-group">
                <label for="content">Nombre del Blog:</label>
                @Html.TextBoxFor(model => model.NombreBlog, new { @class = "form-control" })
                <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="NombreBlog"></span>
            </div>

            <div class="form-group">
                <label for="title">Detalle del Blog:</label>
                @Html.TextAreaFor(model => model.Detalle, new { @class = "form-control", @rows = "10" })
                <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Detalle"></span>
            </div>

            <div class="row">
                <div class="span8" style="text-align: center">
                    <a href="/post/indexadmin" class="btn btn-default">Cancelar</a>
                    <button type="submit" class="btn btn-info">Guardar</button>
                </div>
            </div>
       </form>
    </div>
    <div class="col-md-6 column">

        <div class="jumbotron">
            <label for="title">Redes Sociales:</label>
            <form action="Blog/AddSocialNetwork" method="post">
                <label>Link al Perfil:</label><br>
                            <input type="text" name="Link" class="form-control" />
                <label>Icono</label><br />
                            <input type="text" name="Icono" class="form-control" /><br />

                            <input type="submit" value="Agregar" class="btn btn-info" />
            </form>
        </div>
        <div class="jumbotron">
            @foreach (var item in Model.Redes_Sociales)
            {
                <a  href="@item.Link"><img src="@item.Icono" height="50px"/></a>
            }
        </div>

    </div>
</div>
