﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="/Content/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/bootstrap-theme.min.css">
    <script src="/Content/bootstrap.min.js"></script>

    @Styles.Render("~/Content/css")

    <style>
        body 
        {
            background-image:url('/Content/images/bg.png');
            background-color:#cccccc;
        }

        #cabecera {
             margin-top:25px;
        }
    </style>
</head>
<body>
    
    <div class="container">
	    <div class="row clearfix">
		    <div class="col-md-4 column">
		    </div>
		    <div class="col-md-4 column">
                @RenderBody()
		    </div>
		    <div class="col-md-4 column">
		    </div>
	    </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>




