﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="/Content/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/bootstrap-theme.min.css">
    <script src="/Content/bootstrap.min.js"></script>

    @Styles.Render("~/Content/css")

    <style>
        body 
        {
            background-image:url('/Images/bg.png');
            background-color:#cccccc;
        }

        #cabecera {
             margin-top:25px;
        }
    </style>
</head>
<body>
    <div class="container">

        <div id="cabecera" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Post/Index">stibenamm</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/post/indexadmin">Posts</a></li>
              <li><a href="/comentario/index">Comentarios</a></li>
              <li><a href="/Blog">Ajustes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/Account/Logout">Salir</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="well">
                    @RenderBody()
                </div>
            </div>
      </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
