﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="/Content/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/bootstrap-theme.min.css">
    <link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/bootstrap.min.js"></script>

    @Styles.Render("~/Content/css")

    <style>
        body {
            background-image: url('/Images/bg.png');
        }

        #cabecera {
            background-image: url('/Images/header.jpg');
            color: white;
            margin-bottom: 50px;
        }

        #logo {
            padding: 100px;
            padding-left: 50px;
            font-family: REZ;
            font-size: 100px;
        }

            #logo a {
                color: white;
                text-decoration: none;
            }

            #logo p {
                color: white;
                font-size: 30px;
                text-decoration: none;
            }

        #login {
            text-align: right;
            margin: 40px;
        }
    </style>
</head>
<body>
    <div id="cabecera">
        <div id="logo">
            <a href="/Post/Details">@ViewBag.info.NombreBlog</a>
            <p>@ViewBag.info.Detalle</p>
        </div>
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation
                        </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Admin">Admin</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse-->
            </div>
            <!--/.container-fluid -->
        </div>

    </div>
    <div class="container">



        <div class="row clearfix">
            <div class="col-md-8 column">
                <!--content-->
                @RenderBody()
            </div>
            <div class="col-md-4 column">
                <div class="panel panel-default">
                    <div class="panel-heading">About</div>
                    <div class="panel-body">
                        <img style="margin: 10px" src="http://www.freelancer.com.es/img/unknown.png" class="img-circle" height="100px" />
                        <label>@ViewBag.info.Autor</label><p>@ViewBag.info.Biografia</p>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Facebook</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Google+</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Otras Paginas</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">UserAgent</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
