﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model proyecto2_ISW711.Models.Comentario

@{
    ViewBag.Title = "Delete";
}

<h3>Desea eliminar el comentario?</h3>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)

        <h2>Post: @Html.DisplayFor(model => model.Post_Id)</h2>

        <h2>Nombre: @Html.DisplayFor(model => model.Contacto)</h2>

        <h3>Correo: @Html.DisplayFor(model => model.Correo)</h3>

        <h3>Comentario: @Html.DisplayFor(model => model.Texto)</h3>

        <div class="row">
                <div class="span4" style="text-align:center">
                    <a href="/admin" class="btn btn-default">Cancelar</a>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
        </div>
}          