﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model proyecto2_ISW711.Models.Comentario

@{
    ViewBag.Title = "Activar Comentario";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)


        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.PostId)
        @Html.HiddenFor(model => model.Contacto)
        @Html.HiddenFor(model => model.Correo)
        @Html.HiddenFor(model => model.Texto)

        <h2>Post: @Html.DisplayFor(model => model.PostId)</h2>

        <h2>Nombre: @Html.DisplayFor(model => model.Contacto)</h2>

        <h3>Correo: @Html.DisplayFor(model => model.Correo)</h3>

        <h3>Comentario: @Html.DisplayFor(model => model.Texto)</h3>
        <label>Activar Comentario</label>
        @Html.EditorFor(model => model.Activo)
        @Html.ValidationMessageFor(model => model.Activo)
        <div class="row">
                <div class="span4" style="text-align:center">
                    <a href="/Admin" class="btn btn-default">Cancelar</a>
                    <button type="submit" class="btn btn-info">Guardar</button>

                </div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
