﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<proyecto2_ISW711.Models.Comentario>

@{
    ViewBag.Title = "Index";
}

    <table class="table table-striped">
        <tr>
            <th width="70">Post Id</th>
            <th width="200">Nombre de Contacto</th>
            <th width="200">Correo</th>
            <th>Mensaje</th>
            <th width="70">Activo</th>
            <th width="70">Acciones</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.PostId)</td>
            <td>@Html.DisplayFor(modelItem => item.Contacto)</td>
            <td>@Html.DisplayFor(modelItem => item.Correo)</td>
            <td>@Html.DisplayFor(modelItem => item.Texto)</td>
            <td>@Html.DisplayFor(modelItem => item.Activo)</td>
            <td width="100"> @Html.ActionLink(" ", "Edit", new { id=item.Id },new {@class = "btn btn-primary glyphicon glyphicon-pencil" })
                @Html.ActionLink(" ", "Delete", new { id=item.Id },new {@class = "btn btn-danger glyphicon glyphicon-trash" })
            </td>
        </tr>
        }
    </table>