﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
 
@model proyecto2_ISW711.Models.Post

@{
    ViewBag.Title = "Nuevo Post";
}

    
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

	<fieldset class="form">
        <legend>Nuevo Post</legend>
					
			<div class="form-group">
				<label for="title">Título:</label>
                <input class="form-control" type="text"  name="Titulo" />
                <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Titulo"></span>
			</div>

            <div class="form-group">
			    <label for="content">Contenido:</label>
                <textarea class="form-control" name="Contenido" rows="15"></textarea>
                <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Contenido"></span>
			</div>
            <div class="row">
                <div class="span8" style="text-align:center">
                    <a href="/Admin" class="btn btn-default">Cancelar</a>
                    <button type="submit" class="btn btn-info">Publicar</button></div>
                </div>
</fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
