﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model proyecto2_ISW711.Models.Post

@{
    ViewBag.Title = "Eliminar Post";
}

<h2>Desea eliminar este post?</h2>

     <div class="well well-sm">
		<h3>@Html.DisplayFor(model => model.Titulo)</h3>
        <h6>@Html.DisplayFor(model => model.Fecha)</h6>
        @Html.Raw( Model.Contenido)
	</div>
@using (Html.BeginForm()) {
    <div class="row">
        <div class="span8" style="text-align:center">
            <input type="submit" value="Eliminar" class="btn btn-danger"/> 
            <a href="/Admin" class="btn btn-default">Cancelar</a>
        </div>
    </div>
}
