﻿@model proyecto2_ISW711.Models.Post

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Titulo);
}

<div class="well well-sm">
    <div class="well well-sm">

        <h3>@Html.DisplayFor(modelItem => Model.Titulo)</h3>
        <h6>@Html.DisplayFor(modelItem => Model.Fecha)</h6>
        @Html.Raw(Model.Contenido)
    </div>

    @foreach (var item in Model.Comentario)
    {
        if (item.Activo == true)
        {
            <div class="well well-sm">

                <h3>@Html.DisplayFor(modelItem => item.Contacto)</h3>
                <h6>@Html.DisplayFor(modelItem => item.Correo)</h6>
                <p>@Html.DisplayFor(modelItem => item.Texto)</p>
            </div>
        }
    }
    <!--nuevo comentario-->
    <form method="post" action="/comentario/create">
        <fieldset class="form panel">
            <label>Comentarios</label>
            @{
                ViewBag.mensaje = "";
            }
            @Html.HiddenFor(model => model.Id, new { @Name = "PostId" })
            <div class="form-group">
                <input class="form-control" type="text" name="Contacto" placeholder="Nombre" />
                <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Contacto"></span>
            </div>

            <div class="form-group">
                <input class="form-control" type="text" name="Correo" placeholder="Correo" />
                <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Correo"></span>
            </div>

            <div class="form-group">
                <textarea class="form-control" name="Texto" placeholder="Comentario"></textarea>
                <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Texto"></span>
            </div>
            <div class="row">
                <div class="span8" style="text-align: center">
                    <button type="submit" class="btn btn-info">Enviar</button>
                </div>
            </div>
        </fieldset>
    </form>

</div>

<p>
    @Html.ActionLink("Volver al Principal", "Index")
</p>
