﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
 
@model proyecto2_ISW711.Models.Post

@{
    ViewBag.Title = "Modificar Post";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

	<fieldset class="form">
        <legend>Modificar Post</legend>
			@Html.HiddenFor(model => model.Id)

        <div class="editor-field">
            @Html.HiddenFor(model => model.Fecha)
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>

			<div class="form-group">
				<label for="title">Título:</label>
                @Html.TextBoxFor(model => model.Titulo,new { @class = "form-control"})
                <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Titulo"></span>
			</div>

            <div class="form-group">
			    <label for="content">Contenido:</label>
                @Html.TextAreaFor(model => model.Contenido,new { @class = "form-control" ,@rows="15"})
                <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Contenido"></span>
			</div>
            <div class="row">
                <div class="span8" style="text-align:center">
                    <a href="Post/IndexAdmin" class="btn btn-default">Cancelar</a>
                    <button type="submit" class="btn btn-info">Publicar</button></div>
                </div>
</fieldset>
}

<script>
    $(function () {
        $("textarea").htmlarea();
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
