﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<proyecto2_ISW711.Models.Post>
 

@{
    ViewBag.Title = "Index";
}

@using PagedList.Mvc; 
@using PagedList; 

@foreach (var item in Model) {
    <div class="well well-sm" >
        @Html.ActionLink(item.Titulo, "Details", "Post", new { id = item.Id }, new {@Class="h3"})
        <h6>@Html.DisplayFor(modelItem => item.Fecha)</h6>
        @Html.Raw( item.Contenido)
	</div>
}

@Html.PagedListPager( (IPagedList)Model, page => Url.Action("Index", new { page }) )

