﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<proyecto2_ISW711.Models.Post>
 

@{
    ViewBag.Title = "Index";
}

    <table class="table table-striped">
        <tr>
            <th>Título</th>
            <th>Fecha de Creación</th>
            <th width="150">Acciones</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Titulo)</td>
            <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
            <td width="150">
                @Html.ActionLink(" ", "Details", new { id=item.Id },new {@class = "btn btn-info glyphicon glyphicon-zoom-in" })
                @Html.ActionLink(" ", "Edit", new { id=item.Id },new {@class = "btn btn-primary glyphicon glyphicon-pencil" })
                @Html.ActionLink(" ", "Delete", new { id=item.Id },new {@class = "btn btn-danger glyphicon glyphicon-trash" })
            </td>
        </tr>
        }    
    </table>  
       
    <a href="/Post/Create" class="btn btn-primary btn-mini">Nuevo Post</a>